* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Colores 
#082c4e - Azul marino
#fe6571 - Rosa
#ffcc00 - Amarillo
#22a5e5 - Celeste
#f2eae2 - Gris
#252525 - Negro
#ffffff - Blanco
*/