.img-ab {
    width: 24rem;
    height: 16rem;
    margin: 0;
    margin-top: 4rem;
    display:flex;
    align-items: center
}

.img-about-content {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: normal;
    align-items: baseline;
}

.img-about {
    margin-top: 14rem;
}

.h5-about {
    display: block;
}

.h5-about {
    font-size: 20px;
    color:gray;
}

.historiah1 {
    font-size: 60px;
}

.text-historia {
    margin-top: 2rem;
}

.text-his {
    font-size: 16px;
    font-weight: normal; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 2rem;
}
    //'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
.text-violet {
    // color: rgb(112, 10, 152);
    color:white;
    text-align: center;
    font-size: 40px;
    font-family: "lobster14";
    padding-top: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn-ssc {
    display:flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(112, 10, 152);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
    font-size: 2rem;
    font-family: Georgia;
    font-weight: normal;
    border-radius: 2rem;
}

.boton-subs {
    margin-bottom: 0.5rem;
}

