.iframe-map {
  margin-top: 5rem;
}

.container-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px;
  margin-top: 5rem;
  margin-left: 20%;
  margin-right: 20%;
}

.item {
  padding: 10px;
}

.h2contact-t {
  margin-bottom: 2rem;
  font-size: 35px;
}

.h2contact {
  font-size: 30px;
  font-weight: normal;
}

.cc1 {
  margin-top: 0.7rem;
}

.h4contact, .h5contact, .direct {
  font-size: 20px;
}

.direct {
  font-weight: bold;
}

.message-section {
  display:flex;
  flex-direction: column;
}

.mb-3 {
  display:flex;
  flex-direction: column;
  
}

.cg-c {
  color:gray;
}

textarea {
  width: 273.24px !important;
  resize: vertical;
}

.f-btnc {
  display:flex;
  justify-content: flex-end
}

.btn-c {
  margin-top: 1rem;
  width: 80px;
  display:flex;
}

.form-label {
  font-size: 20px;
}