.white-bar-footer {
   background-color: white; 
   height: 10rem;
}

.footer-copy {
   margin-top: -5rem;
   margin-left: 30%;
}

.redes-footer {
   margin-left: 75%;
   
}

.twitter-logo, .instagram-logo, .facebook-logo {
   width: 2rem;
   height: 2rem;
   
}