.white-bar-footer {
   background-color: white; 
   height: 4rem;
}

.redes-footer {
   margin-top: 3rem;
   display:flex;
   justify-content: center;
   align-content: normal;
   align-items: center;
}

// .footer-copy {
//    margin-right: 10rem;
// }

.twitter-logo, .instagram-logo, .facebook-logo {
   width: 2rem;
   height: 2rem;
   margin-left: 1rem;
   margin-right: 1rem;
}

