@media (min-width: 1921px) and (max-width: 4500px) {
   //head-area
   .bgd-top {
      background-color: white;
      height: 11.25rem;
      display: flex;
      align-items: center;
   }
   .logo-dm {
      width: 8rem;
      height: 8rem;
      margin-left: 1rem;
      display:flex;
      align-items: center
   }  
   
   .logo-dm {
      //encierra logo
      width: 8rem;
      height: 8rem;
      // margin-left: 1rem;
      display:flex;
      align-items: center
   }

   .top-left {
      //encierre logo y nombre
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      width: 100%;
      margin-left:5rem;
   }

   .botones-top {
      //encierre botones
      // margin-right: 1rem;
      display:flex;
      align-items: center;
      text-decoration: none;
      font-size: 1.5rem;
      margin-left: 5.5rem;
   }

   .search1 {
      //encierre search
      display:flex;
      align-items: center;
      margin-right:5rem;
   }

   //main
   .bgd-header2 {
      background-color: rgb(176, 176, 176);
      height: 20rem;
   }
   
   .img-m2 {
      display:flex;
   }
   
   .img-m {
      width: 24rem;
      height: 26rem;
      margin: 0;
      margin-top: -6rem;
      display:flex;
      align-items: center
   }
   
   .main-title {
      display: flex;
      align-items: center;
   }

   .copy-paper {
      margin-top: 6rem;
      margin-left: 80%;
      width: 23rem;
      height: 28rem;
      position: absolute;
      // display: flex;
      // flex-direction: column;
      //align-items: flex-end;
   }
   
   .h1-titlew {
      display: flex;
      margin-left: 14rem;
      margin-top:-0.6rem;
      padding: 0;
      font-size: 8.5rem;
      font-family: Georgia;
      font-weight: normal;
      text-align: center;
      
   }
   
   body {
      background-color: rgb(255, 255, 255);
   }
   
   .btn-fom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }
   
   .btn1 {
      display: flex;
      margin-top:-1.5rem;
      margin-left: 3rem;
      background-color: rgb(112, 10, 152);
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: white;
      margin-right: 1rem;
      font-size: 1.1rem;
      font-family: Georgia;
      font-weight: normal;
   }

   .h1-body {
      font-family: Georgia;
      font-weight: normal;
      margin-top: 0;
      margin-left: 26rem;
      font-size: 140px;
      color: rgb(112, 10, 152);
   }
   
   .h2-body {
      font-family: Georgia;
      font-weight: normal;
      margin-left: 26rem;
      margin-top: 12rem;
      font-size: 80px;
   }
   
   .h3-body {
      margin-left: 26rem;
      margin-top: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight:normal;
      font-size: 20px;
   }
   
   .white-paper {
      width: 40rem;
      height: 25rem;
      margin-top: -27rem;
      margin-right: 27rem;
      float:right;
   }
   
   .comment-text {
      margin-left: 22rem;
      margin-top: 1rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: italic;
   }
   
   .text-op {
      margin-top: 2rem;
      margin-left:6rem;
   }
   
   .name-gray {
      color: gray;
      margin-left:6rem;
   }
   
   .deliver-img {
      width: 50rem;
      height: 25rem;
      margin-top: 5rem;
      margin-left: 19rem;
   }
   
   .h1-1-body {
      font-family: Georgia;
      font-weight: normal;
      margin-top: -22rem;
      margin-left: 90rem;
      font-size: 90px;
      color: rgb(112, 10, 152);
   }
   
   .h3-3-body {
      margin-top: 1rem;
      margin-left: 90rem;
      font-size: 22px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: normal;
   }
   
   .logo-dm2 {
      width: 50rem;
      height: 50rem;
      display: block;
      top: 48rem;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      z-index: -1;
      opacity: 0.11;
   }

   .italic-text {
      font-style: italic;
   }

   .h1-title {
      display: none;
   }
   //blue bar
   .blue-bar {
      background-color: #01518A;
      margin-top: 16rem;
      height: 18rem;
   }

   .coming-soon {
      margin-left: 15%;
      margin-top: -5rem;
   }

   .c-soon-text {
      font-family: "lobster14";
      font-size: 5rem;
      margin-top: -7.6rem;
      color: white;
      text-align: center;
   }

   .color-paper {
      width: 25rem;
      height: 23rem;
      margin-left: 70%;
      margin-top: -20rem;
   }

   .c-soon-desc {
      color:white;
      text-align: center;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

   .btn2 {
      margin-top: 0rem;
      margin-left: 2.2rem;
      background-color: rgb(112, 10, 152);
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: white;
      font-size: 1.1rem;
      font-family: Georgia;
      font-weight: normal;
      margin-left: -1rem;
      margin-top: 10rem;
   }

//about
   .img-ab {
      width: 24rem;
      height: 18rem !important;
      margin: 0;
      margin-top: 1.9rem !important;
      display:flex;
      align-items: center
   }

   .img-about-content {
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: normal;
      align-items: baseline;
   }

   .img-about {
      margin-top: 14rem;
   }

   .h5-about {
      display: block;
   }
   
   .h5-about {
      font-size: 20px;
      color:gray;
   }

   .text-historia {
      display:flex;
      flex-direction: column;
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 2rem;
      margin-bottom: 4rem;
   }
   .historiah1 {
      margin-top: 4rem;
      font-size: 60px;
   }

   .text-his {
      font-size: 23px !important;
      font-weight: normal; 
      padding-top: 2rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
   }

   .text-violet {
      // color: rgb(112, 10, 152);
      color:white;
      text-align: center;
      font-size: 40px;
      font-family: "lobster14";
      padding-top: 2rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
   }

   .btn-ssc {
      display:flex;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: rgb(112, 10, 152);
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: white;
      font-size: 2rem;
      font-family: Georgia;
      font-weight: normal;
   }

   .gray-color {
      padding-bottom: 2rem; 
      // background-color: gray;
      background-color: #01518A;
   }

   .boton-subs {
      margin-bottom: 0.5rem;
   }
}

//SHOP

.banner-shop {
   padding-top: 5rem;
   width: 100vw;
}

.center-logoinc {
   display:flex;
   flex-direction: column;
   align-items: center;
   margin-top: 5rem;
}

.columna {
   border: 1px solid black;
   margin-right: 10px;
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   text-align: center;
}
.fila {
   margin: 10px;
}

.logo-paper-shop {
   width: 20rem;
   height: 20rem;
   margin-top: 5rem;
}

.btn-shop {
   background-color: rgb(112, 10, 152);
   border-radius: 0.5rem;
   padding: 0.5rem;
   color: white;
   margin-right: 1rem;
   font-size: 1.1rem;
   font-family: Georgia;
   font-weight: normal;
   margin-top: 3rem;
   margin-bottom: 3rem;
}

.c1-d {
   font-size: 2rem;
   font-weight: bold; 
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding-top: 2rem;
}

.c2-d {
   font-size: 2rem;
   font-weight: normal; 
   font-family: Georgia;
   padding-top: 1rem;
   font-weight: bold;
}

.img-top-shopo {
   width: 24rem;
   height: 23rem;
   margin-top:-3rem;
}

