@media (min-width: 479px) and (max-width: 767px) {
    //head-area
    .bgd-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:0;
    }
    .logo-dm480 {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    .top-left {
        //encierre logo y nombre
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        height: 50%;
        margin-top: 1rem;
    }

    .botones-top {
        //encierre botones
        // margin-right: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1rem;
    }

    .search1 {
        //encierre search
        display:none;
    }

    //main
    .bgd-header2 {
        position: relative;
        height: 20rem;
    }
    
    .img-shop-pj{
        margin: 0;
        margin-top: -5rem;
        display: flex;
        align-items: center;
        position: absolute;
        z-index: -1;
        width: 100%;
        margin-bottom: 2rem;
    }

    .iframe-map {
        position: relative;
        top: 10rem;
        z-index: -2;
    }

    .img-shop-ctc{
        margin: 0;
        margin-top: -2rem;
        display: flex;
        align-items: center;
        position: absolute;
        z-index: -1;
        width: 100%;
        margin-bottom: 2rem;
    }

    .miguel {
        margin: 0;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        position: absolute;
        z-index: -1;
        max-width: 100%;
        min-width: 100%;
    }
    
    .h1-titlew {
        display: inline;
        // margin-left: 5%;
        top: 5.8rem;
        left:0;
        right:0;
        margin: auto;
        // margin-right: 5%;
        padding: 0;
        font-size: 1.1rem;
        font-family: Georgia;
        font-weight: normal;
        text-align: center;
        position: absolute;
        z-index: 2;
    }

    .h1-titleshop {
        display: inline;
        // margin-left: 5%;
        top: 4.7rem;
        left:0;
        right:0;
        margin: auto;
        // margin-right: 5%;
        padding: 0;
        font-size: 18px;
        font-family: Georgia;
        font-weight: normal;
        text-align: center;
        position: absolute;
        z-index: 2;
    }

    .h1-titlecont {
        display: inline;
        // margin-left: 5%;
        top: 4.7rem;
        left:0;
        right:0;
        margin: auto;
        // margin-right: 5%;
        padding: 0;
        font-size: 2rem;
        font-family: Georgia;
        font-weight: normal;
        text-align: center;
        position: absolute;
        z-index: 2;
    }

    .main-title {
        display: flex;
        align-items: center;
    }

    .copy-paper {
        margin-top: 6rem;
        margin-left: 80%;
        width: 23rem;
        height: 28rem;
        position: absolute;
        // display: flex;
        // flex-direction: column;
        //align-items: flex-end;
    }

    body {
        background-color: rgb(255, 255, 255);
    }

    .btn-fom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    

    .btn1 {
        display: flex;
        justify-content: center;
        background-color: rgb(112, 10, 152);
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: white;
        font-size: 14px;
        font-family: Georgia;
        text-align: center;
        font-weight: bold;
        margin-left: 12rem;
    }

    .boton-encer {
        display:flex;
    }

    .h1-body {
        font-family: Georgia;
        font-weight: normal;
        font-size: 25px;
        color: rgb(112, 10, 152);
    }

    .h2-body {
        font-family: Georgia;
        font-weight: normal;
        font-size: 16px;
    }

    .h3-body {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 8px;
        margin-top: 5px;
    }

    .white-paper {
        width: 8rem;
        height: 4rem;
        margin-top: 1rem;
        margin-right: -1rem;
        float: right;
    }

    .comment-text {
        margin-top: 1rem;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-style: italic;
    }

    .deliver-img {
        width: 8rem;
        height: 4rem;
        margin-top: 1rem;
    }

    .h1-1-body {
        font-family: Georgia;
        font-weight: normal;
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 16px;
        color: rgb(112, 10, 152);
    }

    .h3-3-body {
        display:none;
    }

    .h3-3-body480 {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-weight: normal;
    }

    .logo-dm2 {
        width: 20rem;
        height: 20rem;
        display: block;
        top: 10rem;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        z-index: -1;
        opacity: 0.11;
        margin-top: 6%;
    }

    .italic-text {
        font-style: italic;
        font-size: smaller;
        font-family: arial;
        font-weight: bolder;
    }
    
    //blue bar
    .blue-bar {
        position: absolute;
        width: 100%;
        background-color: #01518a;
        top: 39rem;
        display: block;
        height: 8rem;
    }

    .coming-soon {
        position: absolute;
        margin-left: 5%;
        width: 100px;
        height: 90px;
        margin-top: -2.6rem;
    }

    .c-soon-text {
        font-family: "lobster14";
        font-size: 1.5rem;
        margin-top: -6.2rem;
        color: white;
        text-align: center;
    }

    .color-paper {
        width: 95px;
        height: 95px;
        margin-left: 80%;
        margin-top: -20rem;
    }

    .c-soon-desc {
        color: white;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 0.9rem;
    }

    .btn2 {
        background-color: rgb(112, 10, 152);
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: white;
        font-size: 0.6rem;
        font-family: Georgia;
        font-weight: normal;
        margin-left: 8rem;
        margin-top: 6rem;
    }

    //about
    .img-ab {
        width: 24rem;
        height: 18rem !important;
        margin: 0;
        margin-top: 1.9rem !important;
        display: flex;
        align-items: center;
    }

    .img-about-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: normal;
        align-items: baseline;
    }

    .img-about {
        margin-top: 14rem;
        position: absolute;
        top: 40rem; 
        margin-left: 25%;
        margin-right: 25%;
    }

    .h5-about {
        font-size: 12px;
        color: gray;
        left: 5.5%;
        position: relative;
        top: -18rem;
    }

    .text-historia {
        margin-top: 2rem;
        left: -15%;
        position: relative;
        top: -18rem;
    }
    
    .text-his {
        left: 1%;
        right: 1%;
        font-size: 13px;
        font-weight: normal;
        padding-top: 2rem;
        font-family: Georgia, "Times New Roman", Times, serif;
        position: absolute;
        top:-2rem;
    }

    .text-violet {
        // color: rgb(112, 10, 152);
        color: white;
        text-align: center;
        font-size: 16px !important;
        font-family: "lobster14";
        padding-top: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .btn-ssc {
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgb(112, 10, 152);
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: white;
        font-size: 10px;
        font-family: Georgia;
        font-weight: normal;
    }

    .blue-color {
        padding-bottom: 2rem;
        // background-color: gray;
        position: absolute;
        width: 100%;
        background-color: #01518a;
        top: 45rem;
        display: block;
        height: 10rem;
    }

    .boton-subs {
        margin-bottom: 0.5rem;
    }

    //SHOP
    .dmlogo-b {
        position: absolute;
        top: 10rem;
        height: 130px;
        width: 400px;
    }

    .shop768 {
        font-size: 10px;
        font-weight: normal;
        font-family: Georgia;
        padding-top: 1rem;
        font-weight: bold;
    }
    
    .cust-reviews {
        position: relative;
        top: 27rem;
    }
    
    .banner-shop {
        position: absolute;
        padding-top: 20rem;
        top: 42rem;
        min-width: 100%;
        max-width: 100%;
    }

    .banner-ctc-c768 {
        position: absolute;
        padding-top: 5rem;
        top: 81rem;
        min-width: 100%;
        max-width: 100%;
    }

    .c480r {
        margin-bottom: -2rem;
        // width: 550px;
        // height: 125px;
        width: 200px;
        height: 70px;
    }

    .container-shop3 {
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .center-logoinc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }

    .columna {
        border: 1px solid black;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        text-align: center;
        align-items: center;
        height: 19rem;
    }

    .fila {
        margin: 10px;
    }

        .logo-paper-shop {
        width: 8rem;
        height: 8rem;
        margin-top: 1rem;
        padding: 10px;
    }

    .shop3 {
        position: absolute;
        top: 18rem;
    }

    // .btn-shop {
    //     background-color: rgb(112, 10, 152);
    //     border-radius: 0.5rem;
    //     padding: 0.5rem;
    //     color: white;
    //     margin-right: 1rem;
    //     font-size: 1.1rem;
    //     font-family: Georgia;
    //     font-weight: normal;
    //     margin-top: 3rem;
    //     margin-bottom: 3rem;
    // }

    .btns480 {
        background-color: rgb(112, 10, 152);
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: white;
        font-size: 12px;
        font-family: Georgia;
        font-weight: normal;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .h768 {
        font-size: 10px;
        font-weight: bold;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        padding-top: 2rem;
    }

    .img-top-shopo {
        width: 24rem;
        height: 23rem;
        margin-top: -3rem;
    }

    .content-pr {
        display: flex;
        margin-left: 20%;
        margin-right: 20%;
        position: relative;
    }
    
    .h1-cr768 {
        font-size: 13px;
        font-weight: bold; 
        padding-top: 4rem;
        padding-bottom: 1rem;
        margin-right: 15rem;
        text-align: center;
    }

    .container-indx {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 20px;
        top: 8rem;
        position: absolute;
        gap: 2px;
        margin-left: -2rem;
    }

    .item {
        display: flex;
        flex-direction: column;
        min-width: 0;
        min-height: 0;
        overflow: auto;
    }

    .item-a {
        display:flex;
        // border: 1px solid black;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .c768r {
        margin-bottom: -2rem;
        // width: 550px;
        // height: 125px;
        width: 60%;

    }
    
    .item-b {
        // border: 1px solid black;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5rem;
        // width: 14rem;
        // height: 14rem;
    }

    .item-c {
        // border: 1px solid black;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .item-d {
        // border: 1px solid black;
        display:flex;
        flex-direction: column;
        margin-left: 3rem;
    }

    .text-op {
        margin-left: 2rem;
        font-size: 9px;
    }

    .name-gray {
        color: gray;
        margin-left: 50%;
        font-size: 8px;
    }

//FOOTER
    .white-bar-footer-about {
        background-color: white; 
        height: 4rem;
        position: absolute;
        width: 100%;
        top: 56rem;
        display: block;
    }

    .white-bar-footer {
        background-color: white; 
        height: 4rem;
        position: absolute;
        width: 100%;
        top: 158rem;
        display: block;
    }

    .wctc768 {
        background-color: white; 
        height: 4rem;
        position: absolute;
        width: 100%;
        top: 92rem;
        display: block;
    }

    .index-wbf {
        background-color: white; 
        height: 1rem;
        position: absolute;
        width: 100%;
        top: 48rem;
        display: block;
        z-index: -1;
    }
    
    footer {
        .white-bar-footer-shop {
            background-color: white; 
            height: 4rem;
            position: absolute;
            width: 100%;
            top: 60rem;
            display: block;
        }
    
        .redes-footer {
            margin-top: 1rem;
            padding-bottom: 0;
        }
    }

    .footer-copy {
        font-size: 12px;
    }

    .twitter-logo, .instagram-logo, .facebook-logo {
        display:none;
    }

    .grid-container-about {
        position: absolute;
        top: 40rem;
        right: 30%;
        left: 30%;
    }

    .tabla-config-ab {
        position: absolute;
        top: 30rem;
        left: 25%;
        right: 25%;
    }

    .img-about-1 {
        position: relative;
        top:-18rem;
        width: 250px;
        height: 160px;
    }

    .container-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10px;
        margin-top: 13rem;
        margin-left: 20%;
        margin-right: 20%;
    }

    .item {
        padding: 10px;
    }
    
    .h2contact-t {
        margin-bottom: 2rem;
        font-size: 20px;
    }

    .h2contact {
        font-size: 20px;
        font-weight: normal;
    }

    .dire768 {
        font-size: 10px;
    }
    
    .cc1 {
        margin-top: 0.7rem;
    }
    
    .h4contact, .h5contact {
        font-size: 14px;
    }
    
    .direct {
        font-weight: bold;
    }
    
    .message-section {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mb-3 {
        display:flex;
        flex-direction: column;
    }
    
    .cg-c {
        color:gray;
    }
    
    textarea {
        width: 273.24px !important;
        resize: vertical;
    }
    
    .btn-c {
        margin-top: 1rem;
        width: 80px;
        display:flex;
    }
    
    .form-label {
        font-size: 20px;
    }
}