.banner-shop {
  max-width: 100%;
}


.center-logoinc {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.columna {
  border: 1px solid black;
  margin-right: 10px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
.fila {
  margin: 10px;
}

.logo-paper-shop {
  width: 20rem;
  height: 20rem;
  margin-top: 5rem;
}

.btn-shop {
  background-color: rgb(112, 10, 152);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-family: Georgia;
  font-weight: normal;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.c1-d {
  font-size: 1rem;
  font-weight: bold; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 2rem;
}

.c2-d {
  font-size: 1.2rem;
  font-weight: normal; 
  font-family: Georgia;
  padding-top: 1rem;
  font-weight: bold;
}

.img-top-shopo {
  width: 24rem;
  height: 23rem;
  margin-top:-3rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.fila {
  display:flex;
  flex-direction: row;
}

.c-reviews-ch {
  display:flex;
  flex-direction: column;
  align-items: center;
  
  
}

.h1-cr {
  font-size: 2rem;
  font-weight: bold; 
  padding-top: 4rem;
  margin-left: 6rem;
}

