* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgd-header2 {
  background-color: rgb(176, 176, 176);
  height: 20rem;
}

.img-m2 {
  display: flex;
}

.img-m {
  width: 18rem;
  height: 20rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.main-title {
  display: flex;
  align-items: center;
}

.h1-title {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
  padding: 0;
  font-size: 6.5rem;
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
}

body {
  background-color: rgb(255, 255, 255);
  min-height: 1920px;
}

.btn-fom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn1 {
  display: flex;
  margin-top: 0rem;
  margin-left: 2.2rem;
  background-color: rgb(112, 10, 152);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-family: Georgia;
  font-weight: normal;
}

.copy-paper {
  margin-top: 8rem;
  margin-right: 10rem;
  width: 17rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h1-body {
  font-family: Georgia;
  font-weight: normal;
  margin-top: 0;
  margin-left: 15rem;
  font-size: 120px;
  color: rgb(112, 10, 152);
}

.h2-body {
  font-family: Georgia;
  font-weight: normal;
  margin-left: 15rem;
  margin-top: 12rem;
  font-size: 70px;
}

.h3-body {
  margin-left: 15rem;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.white-paper {
  width: 33rem;
  height: 17rem;
  margin-top: -23rem;
  margin-right: 19rem;
  float: right;
}

.comment-text {
  margin-left: 15rem;
  margin-top: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.text-op {
  margin-top: 2rem;
}

.name-gray {
  color: gray;
}

.deliver-img {
  width: 40rem;
  height: 20rem;
  margin-top: 2rem;
  margin-left: 13rem;
}

.h1-1-body {
  font-family: Georgia;
  font-weight: normal;
  margin-top: -18rem;
  margin-left: 70rem;
  font-size: 90px;
  color: rgb(112, 10, 152);
}

.h3-3-body {
  margin-top: 1rem;
  margin-left: 70rem;
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

.logo-dm2 {
  display: block;
  top: 65rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: -1;
  opacity: 0.19;
}

.italic-text {
  font-style: italic;
}

.h1-titlew {
  display: none;
}

.blue-bar {
  background-color: #01518A;
  margin-top: 12rem;
  height: 18rem;
}

.coming-soon {
  margin-left: 5rem;
  margin-top: -5rem;
}

.c-soon-text {
  font-family: "lobster14";
  font-size: 5rem;
  margin-top: -4rem;
  margin-left: 25rem;
  color: white;
}

.bgd-top {
  background-color: white;
  height: 11.25rem;
}

.bgd-top {
  background-color: white;
  height: 11.25rem;
  display: flex;
  align-items: center;
}

.logo-dm {
  width: 8rem;
  height: 8rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.top-left {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.botones-top {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
}

.search1 {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.logo-dm {
  width: 8rem;
  height: 8rem;
  margin-left: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 1921px) and (max-width: 4500px) {
  .bgd-top {
    background-color: white;
    height: 11.25rem;
    display: flex;
    align-items: center;
  }
  .logo-dm {
    width: 8rem;
    height: 8rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }
  .top-left {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .botones-top {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
  }
  .search1 {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .logo-dm {
    width: 8rem;
    height: 8rem;
    margin-left: 1.5rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .bgd-header2 {
    background-color: rgb(176, 176, 176);
    height: 20rem;
  }
  .img-m2 {
    display: flex;
  }
  .img-m {
    width: 25rem;
    height: 27rem;
    margin: 0;
    margin-top: -7rem;
    display: flex;
    align-items: center;
  }
  .main-title {
    display: flex;
    align-items: center;
  }
  .copy-paper {
    margin-top: 6rem;
    margin-left: 80%;
    width: 23rem;
    height: 28rem;
    position: absolute;
  }
  .h1-titlew {
    display: flex;
    margin-left: 14rem;
    margin-top: 0rem;
    padding: 0;
    font-size: 8.5rem;
    font-family: Georgia;
    font-weight: normal;
    text-align: center;
  }
  body {
    background-color: rgb(255, 255, 255);
  }
  .btn-fom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .btn1 {
    display: flex;
    margin-top: -3rem;
    margin-left: 2.2rem;
    background-color: rgb(112, 10, 152);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
    margin-right: 1rem;
    font-size: 1.1rem;
    font-family: Georgia;
    font-weight: normal;
  }
  .h1-body {
    font-family: Georgia;
    font-weight: normal;
    margin-top: 0;
    margin-left: 26rem;
    font-size: 140px;
    color: rgb(112, 10, 152);
  }
  .h2-body {
    font-family: Georgia;
    font-weight: normal;
    margin-left: 26rem;
    margin-top: 12rem;
    font-size: 80px;
  }
  .h3-body {
    margin-left: 26rem;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
  }
  .white-paper {
    width: 40rem;
    height: 25rem;
    margin-top: -27rem;
    margin-right: 27rem;
    float: right;
  }
  .comment-text {
    margin-left: 22rem;
    margin-top: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
  }
  .text-op {
    margin-top: 2rem;
    margin-left: 6rem;
  }
  .name-gray {
    color: gray;
    margin-left: 6rem;
  }
  .deliver-img {
    width: 50rem;
    height: 25rem;
    margin-top: 5rem;
    margin-left: 19rem;
  }
  .h1-1-body {
    font-family: Georgia;
    font-weight: normal;
    margin-top: -22rem;
    margin-left: 90rem;
    font-size: 90px;
    color: rgb(112, 10, 152);
  }
  .h3-3-body {
    margin-top: 1rem;
    margin-left: 90rem;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
  }
  .logo-dm2 {
    width: 50rem;
    height: 50rem;
    display: block;
    top: 48rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.11;
  }
  .italic-text {
    font-style: italic;
  }
  .h1-title {
    display: none;
  }
  .blue-bar {
    background-color: #01518A;
    margin-top: 16rem;
    height: 18rem;
  }
}
@font-face {
  font-family: "lobster14";
  src: url(../fonts/Lobster\ 1.4.otf);
}/*# sourceMappingURL=styles.css.map */